### Question 1
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
	•	
6

### Solution

Values :'hello', -87.8 and 6 
Expressions : * , - , / , +

#-------------------------#

### Question 2
2. What is the difference between string and variable?

### Solution
String: A string is a datatype in which characters are stored. String values need to be stored inside double or single quotes.
Variable:  A variable serves the purpose of storing values be it of any datatype(including string)
eg: A = “Hi, How are you?”  Here,“Hi, How are you?” is the string and A  is the variable

#-------------------------#

### Question 3
3. Describe three different data types.

### Solution
String: Used to store character values. eg  ‘Hello@123+’
Float: Used to store numerical values which may or may not have values in decimal places. eg 5.6, 7.0 
Int: As is clear from the name it is the datatype used for storing integers eg 5, 7, 1

#-------------------------#

### Question 4
What is an expression made up of? What do all expressions do?

### Solution
An expression is made up of a combination of values, operators, variables and function calls.
Expressions produce a value or a result.
Example of expressions: x + 5, 4-(5/9) etc

#-------------------------#

### Question 5
This assignment statements, like spam = 10. What is the difference between an expression and a statement?

### Solution:

In [8]:
#An expression produces a value when executed but that is not the case with statement.
4 + 5
x * 4
# The are expressions

In [3]:
#Statements can range from simple assigning of values to variables to far complex ones.
x = 45
print("Hello World")
# These are examples of statements

### Question 6
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

### Solution
The variable bacon still contains the value 22 but the output of this code will give 23

#-------------------------#

### Question 7
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

### Solution
Both of them will be ‘spamspamspam’

#-------------------------#

### Question 8
8. Why is eggs a valid variable name while 100 is invalid?

### Solution
Because Python does not allow for variables name to start from a number.

#-------------------------#

### Question 9
9. What three functions can be used to get the integer, floating-point number, or string version of a value?

### Solution
int(), float() and str() respectively

#-------------------------#

### Question 10
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

### Solution
Because integer values are not allowed to be concatenated, it can be fixed by changing 99 to a string value, to fix it make it as: 'I have eaten ' + ‘99’ + ' burritos.'  or 'I have eaten ' + str(99) + ' burritos.'